# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Pip cache
pip-log.txt
